.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 500;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff414f;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

/* .hero-right{
    flex:1;
    display: flex;
    align-items:center;
    justify-content: center;
} */

.hero-right {
    overflow: hidden; /* Ensure content that overflows the container is hidden */
    width: 40%; /* Adjust the width of the container as needed */
    /* Add any other styling for the container */
  }
  
  .hero-right img {
    max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
    max-height: 90%; /* Ensure the image doesn't exceed the height of its container */
    display: block; /* Ensures the image is treated as a block-level element */
    margin: auto; /* Centers the image horizontally within its container */
  }